apiVersion: v1
kind: Service
metadata:
  name: {{ app_name }}-svc
  namespace: {{ namespace }} 
spec:
  selector:
    app: {{ app_name }}
    version: {{ active_version }}
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
  type: NodePort
