apiVersion: v1
kind: Service
metadata:
  name: {{ app_name }}-svc
spec:
  selector:
    app: {{ app_name }}
    version: blue  # Altere para 'green' durante a troca de tráfego
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
      nodePort: 31252
  type: NodePort
